<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    
    <title>Jokes</title>
</head>
<body>
	<th:block th:include="header :: header"></th:block>
	<div class="container">
	    <p th:text="${car}">Insert Car here</p>
	    <div class="swiper-container">
		    <div class="swiper-wrapper" >
		        	<a 
		        		th:each="sliderCar : ${sliderCars}"
		        		th:href="@{/car/{id}(id = ${sliderCar.id})}"
		        		class="swiper-slide">
			        	<img 
			        		th:src="@{/images/{model}{id}.png(model = ${sliderCar.model}, id = ${sliderCar.id})}"
			        		class="slider-car-image"
			        		>
			        </a>
	
		    </div>
		    
		    <div class="swiper-pagination"></div>
		
		    <div class="swiper-button-prev"></div>
		    <div class="swiper-button-next"></div>
	    
		</div>
		
		<div class="content">
			It is a period of civil war.
			Rebel spaceships, striking
			from a hidden base, have won
			their first victory against
			the evil Galactic Empire.
			
			During the battle, Rebel
			spies managed to steal secret
			plans to the Empire's
			ultimate weapon, the DEATH
			STAR, an armored space
			station with enough power to
			destroy an entire planet.
			
			Pursued by the Empire's
			sinister agents, Princess
			Leia races home aboard her
			starship, custodian of the
			stolen plans that can save
			her people and restore
			freedom to the galaxy.....

		</div>
		
		<ul class="list-inline">
			<li></li>
		</ul>
	</div>	

	<script
 	 src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 	 integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
	  var mySwiper = new Swiper ('.swiper-container', {

	    direction: 'horizontal',
	    loop: true,
	
	    pagination: {
	      el: '.swiper-pagination',
	    },
	
	    navigation: {
	      nextEl: '.swiper-button-next',
	      prevEl: '.swiper-button-prev',
	    },
	  })
  	</script>
</body>
</html>